# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [32]:
cityDatadf = pd.read_csv("../output_data/citiesData_WeatherPy.csv")
cityDatadf.head()
cityDatadf.dropna(inplace = True) 
len(cityDatadf)

403

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
# Store latitude and longitude in locations
locations = cityDatadf[["Lat", "Lng"]]
humidity=cityDatadf["Humidity"].astype(float)
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

In [34]:
cityDatadf["Humidity"].describe()

count    403.000000
mean      71.776675
std       19.876854
min       10.000000
25%       61.500000
50%       77.000000
75%       86.000000
max      100.000000
Name: Humidity, dtype: float64

In [35]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=30,
                                 point_radius=5)
fig.add_layer(heat_layer)
fig# Display figure

Figure(layout=FigureLayout(height='420px'))

In [36]:
plt.savefig('../output_data/3 Latitude Vs Cloudiness.png')

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [37]:
#suitable conditions for self
goodWeather_df=cityDatadf.loc[(cityDatadf["Humidity"]<70) &
              (cityDatadf["Max Temp"]<50) &
              (cityDatadf["Max Temp"]>20)]
len(goodWeather_df)

21

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [38]:
hotel_df=goodWeather_df

In [39]:
hotel_df["Hotel Name"]=""
hotel_df.head()

C:\Users\HUMA\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
13,13,Punta Arenas,-53.1500,-70.9167,33.91,60,75,5.75,CL,1631760722,
23,23,Chokurdakh,70.6333,147.9167,39.18,63,94,9.40,RU,1631760736,
33,33,Cherskiy,68.7500,161.3000,36.23,57,87,11.92,RU,1631760752,
67,67,Bluff,-46.6000,168.3333,48.79,59,82,12.88,NZ,1631760793,
103,103,Fort Nelson,58.8053,-122.7002,49.59,62,40,5.75,CA,1631760836,

In [45]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
   # "types":"hotels",
    #"keyword":"vacation",
    "key": g_key
}
#print(g_key)
count=0
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]
        # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    print(index)
    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        # make request and print url
    
    
    #pprint(result)
    try:
        result = requests.get(base_url, params=params).json()
        name= result["results"][0]["name"] 
        print(name)
        hotel_df.loc[index,"Hotel Name"] =name
    except:
        print("skipping")

13
Punta Arenas
23
Chokurdakh
33
Chersky
67
Invercargill
103
Fort Nelson
112
Qaqortoq
137
Red Deer
146
Pangnirtung
147
Kouvola
185
Dunedin
189
Hammerfest
228
Mazyr
236
Provideniya
247
Lavrentiya
254
Ashburton
262
Sisimiut
265
Jasper
305
Verkhneviliuisk
306
Ust-Kut
335
Kalahari CBDC
372
Tolyatti

In [46]:
name

'Tolyatti'

In [47]:
hotel_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
13,13,Punta Arenas,-53.1500,-70.9167,33.91,60,75,5.75,CL,1631760722,Punta Arenas
23,23,Chokurdakh,70.6333,147.9167,39.18,63,94,9.40,RU,1631760736,Chokurdakh
33,33,Cherskiy,68.7500,161.3000,36.23,57,87,11.92,RU,1631760752,Chersky
67,67,Bluff,-46.6000,168.3333,48.79,59,82,12.88,NZ,1631760793,Invercargill
103,103,Fort Nelson,58.8053,-122.7002,49.59,62,40,5.75,CA,1631760836,Fort Nelson

In [48]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [49]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
# Add the layer to the map
fig.add_layer(markers)
fig
#Setting information box marker variables

hotel_info_box = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Assign the marker layer to a variable
marker= gmaps.marker_layer(locations, info_box_content=hotel_info_box)

#Setting map zoom and center
center_coordinates = (0,0)
fig = gmaps.figure(center = center_coordinates, zoom_level=1)
# Display figure
fig.add_layer(heat_layer)
fig.add_layer(marker)

fig

Figure(layout=FigureLayout(height='420px'))